<div class="container">

	<form ng-submit="create()">
		<input type="text" ng-model="pennies" /> 
		1p
		</br>

		<input type="text" ng-model="twoPennies" /> 
		2p
		</br>
		
		<input type="text" ng-model="fivePennies" /> 
		5p
		</br>
		
		<input type="text" ng-model="tenPennies" /> 
		10p
		</br>
		
		<input type="text" ng-model="twentyPennies" /> 
		20p
		</br>
		
		<input type="text" ng-model="fiftyPennies" /> 
		50p
		</br>
		
		<input type="text" ng-model="onePound" /> 
		£1
		</br>
		
		<input type="text" ng-model="twoPounds" /> 
		£2
		</br>
		
		<input type="text" ng-model="fivePounds" /> 
		£5
		</br>
		
		<input type="text" ng-model="tenPounds" /> 
		£10
		</br>
		
		<input type="text" ng-model="twentyPounds" /> 
		£20
		</br>
		
		<input type="text" ng-model="fiftyPounds" /> 
		£50
		</br>
		
		<input type="text" ng-model="branch" />
		branch
		</br>
		
		<button id="submit">Submit order</button>
	</form>


</div>