<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <span class="navbar-brand">Cash Order Recieved</span>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <a href="#/home" class="btn btn-primary btn-block btn-lg" style="margin: 1em 0;">
        <span class="glyphicon glyphicon-home"></span>
        Return to dashboard
    </a>
</div>
