
<div class="container">
    <h2>
        Pending Orders
    </h2>
    <div class="form-group">
        <label for="branch">Branch</label>
        <select class="form-control" id="branch" ng-model="branch">
            <option>185 Baker Street</option>
            <option>25 Camberwell Green</option>
            <option>45 The Broadway</option>
            <option>72 Fenchurch Street</option>
            <option>10 Hanover Square</option>
        </select>
    </div>

    <table class="table">
        <tr>
            <td>Total</td>
            <td>Requested Time</td>
        </tr>
        <tr ng-repeat="order in orders">
            <td>£{{order.getTotal()}}.00</td>
            <td>{{ order.pickupTime }}</td>
            <td>
                <a href="#/branches/{{branch}}/orders/{{order.id}}" class="btn btn-default">Open</a>
            </td>
        </tr>
    </table>
    <br />

</div>
