
<h2>
	Pending Orders
</h2>

<table style="width:600px">
<tr>
  <td>Ref:</td>
  <td>Customer ID:</td>
  <td>Total</td>
</tr>
<tr>
  <td>Eve</td>
  <td>Jackson</td>
  <td>94</td>
  <td><a ng-href = "#/view-order" class="btn btn-default">View Order
	</a></td>
  <td><div>
	<select>
		<option value="pending">Pending</option>
		<option value="awaitingPickup">Awaiting Pickup</option>
		<option value="Overdue">Overdue</option>
		<option value="Fulfilled">Fulfilled</option>
	</select> 
  </div>
  </td>
</tr>
</table>
</br> 
