<div style="float:right">
	<select>
		<option value="pending">Pending</option>
		<option value="awaitingPickup">Awaiting Pickup</option>
		<option value="Overdue">Overdue</option>
		<option value="Fulfilled">Fulfilled</option>
	</select> 
</div>

<div class="container">
	Order Reference:
	</br>
	Customer ID:
	</br>
	Pickup Date:
	</br>
	</br>
	
	1p:
	</br>
	2p:
	</br>
	5p:
	</br>
	10p:
	</br>
	50p:
	</br>
	£1:
	</br>
	£2:
	</br>
	£5:
	</br>
	£10:
	</br>
	£20:
	</br>
	£50:
	</br>
	</br>
	
	Total:

</div>

